{
    "rules": {
        "semi": [2,"always"],
        "curly": [2, "multi-line"],
        "one-var": [2, { var: "always", let: "never", const: "never" }],
        "import-order/import-order": 2,
        "no-path-concat": 2,
        "quote-props": [2, "as-needed"]
    },
    "env": {
        "es6": true,
        "node": true
    },
    "plugins": [
        "import-order"
    ],
    "extends": "standard",
}
